/* CSS Document */
body,ul,li,a,p,h1,h2,h3,h4,h5,h6,form,input,label{ margin:0; padding:0; list-style:none; font-size:12px;}
img{ border:0 none; display:block;}
img.block{display: block;}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
#dp_wrapper{ width:950px; margin:0 auto; position:relative;}
.video_skin{ position:relative; background:url(../images/video_bg2.jpg) no-repeat; width:950px; height:193px;}
.video_skin a{ position:absolute; top:9px; right:44px; width:80px; height:35px;}
#nav{ height:45px;width:950px; z-index:10; position:absolute;}
#nav ul{ overflow:auto; list-style:none outside none;}
#nav ul li{ background:url(../images/libg.jpg) no-repeat right center #333333; float:left; height:39px; line-height:39px; text-align:center;}
#nav ul li.you_here{ background:url(../images/nav_bg01.gif) no-repeat scroll 0 0 transparent; height:45px;}
#nav ul li.you_here2{ background:url(../images/nav_bg02.gif) no-repeat scroll 0 0 transparent; height:45px;}
#nav ul li a{ color:#ffffff; display:block; font-size:18px; height:28px; font-family:"simhei"; line-height:25px; padding:8px 0 0; text-decoration:none; width:237px;}
#nav ul li a.width239{ width:239px;}
#nav ul li.deletes{ background:none #333333;}
#nav ul li a img{ border:0; display:inline;}

.main{ position:absolute; left:0; top:39px;}
.bb_vedio{position:relative; width:950px; height:429px; background:url(../images/dp_img_2.jpg) no-repeat;}
.bb_vedio .play_vedio{position:absolute;top:12px;left:5px;width: 437px;}
.bb_vedio a.longstick{ display:block; width:480px; height:410px; position:absolute; top:6px; left:467px; z-index:150;}
.contrast{ position:relative; background:url(../images/dp_img_3.jpg) no-repeat; width:950px; height:384px;}
.contrast a{ position:absolute; display:block;}
.contrast a.rules{ width:85px; height:24px; top:122px; left:540px;}
.contrast a.caizhuang1{ width:81px; height:106px; top:158px; left:536px;}
.contrast a.caizhuang2{ width:81px; height:106px; top:158px; left:619px;}
.contrast a.caizhuang3{ width:81px; height:106px; top:158px; left:702px;}
.contrast a.caizhuang4{ width:81px; height:106px; top:158px; left:785px;}
.contrast a.nowtake{ width:63px; height:106px; top:158px; left:870px;}
.contrast a.weiboa{ width:316px; height:72px; top:294px; left:277px; z-index:101;}
.contrast .czsbg1,.contrast .czsbg2,.contrast .czsbg3,.contrast .czsbg4{ position:absolute; width:463px; height:373px; top:9px; left:72px; z-index:100;}

.toupiao1{ width:950px; background:url(../images/dp3_detail1_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao2{ width:950px; background:url(../images/dp3_detail2_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao3{ width:950px; background:url(../images/dp3_detail3_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao4{ width:950px; background:url(../images/dp3_detail4_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao5{ width:950px; background:url(../images/dp3_detail5_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao6{ width:950px; background:url(../images/dp3_detail6_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao7{ width:950px; background:url(../images/dp3_detail7_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao8{ width:950px; background:url(../images/dp3_detail8_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao9{ width:950px; background:url(../images/dp3_detail9_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao10{ width:950px; background:url(../images/dp3_detail10_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao11{ width:950px; background:url(../images/dp3_detail11_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao12{ width:950px; background:url(../images/dp3_detail12_img_1.jpg) no-repeat; height:399px; position:relative;}
.toupiao1 h3,.toupiao2 h3,.toupiao3 h3,.toupiao4 h3,.toupiao5 h3,.toupiao6 h3,.toupiao7 h3,.toupiao8 h3,.toupiao9 h3,.toupiao10 h3,.toupiao11 h3,.toupiao12 h3{ position:absolute; color:#FFFFFF; font-size:12px; font-family:Arial, Helvetica, sans-serif; top:66px; left:525px; font-weight:normal;}
.toupiao1 h3 strong,.toupiao2 h3 strong,.toupiao3 h3 strong,.toupiao4 h3 strong,.toupiao5 h3 strong,.toupiao6 h3 strong,.toupiao7 h3 strong,.toupiao8 h3 strong,.toupiao9 h3 strong,.toupiao10 h3 strong,.toupiao11 h3 strong,.toupiao12 h3 strong{ color:#ee2374; font-size:20px; padding:0 5px;}
.voteta{ position:absolute; display:block; width:92px; height:31px; left:600px; top:63px;}
.toupiao1 a.icon,.toupiao2 a.icon,.toupiao3 a.icon,.toupiao4 a.icon,.toupiao5 a.icon,.toupiao6 a.icon,.toupiao7 a.icon,.toupiao8 a.icon,.toupiao9 a.icon,.toupiao10 a.icon,.toupiao11 a.icon,.toupiao12 a.icon{ position:absolute; display:block; width:104px; height:151px; top:0; right:17px; background:url(../images/icon.gif) no-repeat; z-index:22;}
.toupiao1 a:hover.icon,.toupiao2 a:hover.icon,.toupiao3 a:hover.icon,.toupiao4 a:hover.icon,.toupiao5 a:hover.icon,.toupiao6 a:hover.icon,.toupiao7 a:hover.icon,.toupiao8 a:hover.icon,.toupiao9 a:hover.icon,.toupiao10 a:hover.icon,.toupiao11 a:hover.icon,.toupiao12 a:hover.icon{ background-image:url(../images/icon_hover.gif);}

#a1,#TB_title,#a2,.form_success{ display:none;}
.guize_bg{width:620px;height:489px;overflow:hidden;background:url(../images/rule_bg.jpg) no-repeat;position:relative;}
.guize_close{width:22px;height:23px;position:absolute;right:10px;top:11px;display:block;cursor:pointer;}
.conform_bg{width:620px; height:390px;overflow:hidden;background:url(../images/form_img_bg.jpg) no-repeat;position:relative;}
.closex{ position:absolute; width:22px; height:23px; top:15px; right:20px;}
.closex a{ display:block;width:22px; height:23px;}
.form_con,.form_success{ width:440px; position:absolute; left:146px; top:60px;}
.form_con h2,.form_success h2{ font-size:24px; height:30px; line-height:30px; color:#ef2672; border-bottom:1px solid #ef2672; padding-bottom:9px;}
.form_con .text_wenzi,.form_success .text_wenzi{font-size:14px; padding:20px 0; font-weight:bold;}
.form_con .text_wenzi span,.form_success .text_wenzi span{ color:#e21f65;}
.conform_bg .error1,.conform_bg .error2,.conform_bg .error3{ position:absolute; top:275px; left:322px; font-size:12px; font-weight:bold; color:#ee2375; width:250px; height:25px; line-height:25px; display:none;}

.form_box div{ clear:both; overflow:hidden; zoom:1; padding-bottom:10px;}
.form_box label,.form_box input{ float:left;}
.form_box label{ width:52px; height:28px; line-height:28px;}
.form_box input{ width:206px; height:26px; line-height:26px; border:1px solid #cccccc;}
.form_box input.subbotton{ background:url(../images/submit_button.jpg) no-repeat; width:111px; height:40px; text-indent:-999px; cursor:pointer; border:0 none;}
.form_con a{ display:block; width:134px; height:39px;}

#share-main{height: 1056px; width:950px;}
#share-content{height: 1056px; width: 950px; position: relative; overflow: hidden;}
#share-block{height: 1056px; width: 1900px; position: absolute;}
#share-block .share-con{ float:left;}
#share-block .share-con .share_daren{ background:url(../images/dp3_img_3.jpg) no-repeat; width:950px; height:223px; position:relative;}
#share-block .share-con .share_daren h3,#share-block .share-con .share_daren2 h3,#share-block .share-con .share_daren3 h3,#share-block .share-con .share_daren4 h3{color:#000000; font-size:12px; font-family:Arial, Helvetica, sans-serif; top:66px; left:525px; font-weight:normal; position:absolute;}
#share-block .share-con .share_daren h3 strong,#share-block .share-con .share_daren2 h3 strong,#share-block .share-con .share_daren3 h3 strong,#share-block .share-con .share_daren4 h3 strong{ color:#ee2374; font-size:20px; padding:0 5px;}
#share-block .share-con .share_daren h3.touren1{ left:228px; top:8px;}
#share-block .share-con .share_daren h3.touren2{ left:478px; top:8px;}
#share-block .share-con .share_daren h3.touren3{ left:740px; top:8px;}
#share-block .share-con .share_daren a,#share-block .share-con .share_daren2 a,#share-block .share-con .share_daren3 a,#share-block .share-con .share_daren4 a{ display:block; position:absolute; width:232px; height:173px;}
#share-block .share-con .share_daren a.share_more1{ left:187px; top:44px;}
#share-block .share-con .share_daren a.share_more2{ left:439px; top:44px; width:260px;}
#share-block .share-con .share_daren a.share_more3{ left:704px; top:44px;}
#share-block .share-con .share_daren2{background:url(../images/dp3_img_5.jpg) no-repeat; width:950px; height:244px; position:relative;}
#share-block .share-con .share_daren2 h3.touren4{ left:91px; top:7px;}
#share-block .share-con .share_daren2 h3.touren5{ left:341px; top:8px;}
#share-block .share-con .share_daren2 h3.touren6{ left:590px; top:8px;}
#share-block .share-con .share_daren2 a.share_more4{ left:50px; top:44px; }
#share-block .share-con .share_daren2 a.share_more5{ left:300px; top:44px;}
#share-block .share-con .share_daren2 a.share_more6{ left:550px; top:44px;}
#share-block .share-con .share_daren3{background:url(../images/dp3_img_7.jpg) no-repeat; width:950px; height:223px; position:relative;}
#share-block .share-con .share_daren3 h3.touren7{ left:225px; top:8px;}
#share-block .share-con .share_daren3 h3.touren8{ left:485px; top:8px;}
#share-block .share-con .share_daren3 h3.touren9{ left:738px; top:8px;}
#share-block .share-con .share_daren3 a.share_more7{ left:187px; top:44px;}
#share-block .share-con .share_daren3 a.share_more8{ left:450px; top:44px;}
#share-block .share-con .share_daren3 a.share_more9{ left:704px; top:44px;}

#share-block .share-con .share_daren4{background:url(../images/dp3_img_9.jpg) no-repeat; width:950px; height:244px; position:relative;}
#share-block .share-con .share_daren4 h3.touren10{ left:91px; top:7px;}
#share-block .share-con .share_daren4 h3.touren11{ left:341px; top:8px;}
#share-block .share-con .share_daren4 h3.touren12{ left:590px; top:8px;}
#share-block .share-con .share_daren4 a.share_more10{ left:50px; top:44px;}
#share-block .share-con .share_daren4 a.share_more11{ left:300px; top:44px;}
#share-block .share-con .share_daren4 a.share_more12{ left:550px; top:44px;}
.detail_img1{ background:url(../images/dp3_img_2.jpg) no-repeat; width:950px; height:292px; position:relative;}
.detail_img2{ background:url(../images/dp3_img_4.jpg) no-repeat; width:950px; height:297px; position:relative;}
.img_info1{ position:absolute; height:292px; width:235px; left:183px; top:0; }
.img_info2{ position:absolute; height:292px; width:235px; left:450px; top:0;}
.img_info3{ position:absolute; height:292px; width:235px; left:690px; top:0;}
.img_info4{ position:absolute; height:292px; width:235px; left:41px; top:0;}
.img_info5{ position:absolute; height:292px; width:235px; left:313px; top:0;}
.img_info6{ position:absolute; height:292px; width:235px; left:570px; top:0;}
.detail_img3{ background:url(../images/dp3_img_6.jpg) no-repeat; width:950px; height:292px; position:relative;}
.detail_img4{ background:url(../images/dp3_img_8.jpg) no-repeat; width:950px; height:297px; position:relative;}
.img_info7{ position:absolute; height:292px; width:235px; left:183px; top:0;}
.img_info8{ position:absolute; height:292px; width:235px; left:450px; top:0;}
.img_info9{ position:absolute; height:292px; width:235px; left:690px; top:0;}
.img_info10{ position:absolute; height:292px; width:235px; left:41px; top:0;}
.img_info11{ position:absolute; height:292px; width:235px; left:313px; top:0;}
.img_info12{ position:absolute; height:292px; width:235px; left:570px; top:0;}

#scrollLine{width: 950px; margin: 10px auto; height: 21px; background: url(../images/scrollBg.jpg) top left repeat-x; position: relative;}
#scrollBar{height: 21px; position: absolute; top: 0px; left: 0px; width: 280px; background: url(../images/scrollBar.jpg) top left no-repeat; cursor: pointer;}











